.restaurant-images {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 16px; 
}

.restaurant-images img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  scroll-snap-align: start;
  flex-shrink: 0; 
}

.restaurant-address {
    font-size: 1.3rem;
}

.table-images {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%; 
}

.table-images img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.star-rating {
    color: #FFD700;
    font-size: 1.3rem;
}